<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/navbar')%>

    <h2><%= title %></h2>

    <%- include('../partials/productForm') %>
    <br />
    <hr />
    <br />
    
 
    <h3>Busqueda con filtros</h3>

    <%- include('../partials/filterForm') %>
    <br />
    <hr />
    <br />

    <h3>Listado de productos</h3>
    <div>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
          </tr>
        </thead>
        <tbody id="producCard"></tbody>
      </table>
    </div>

    <br />
    <%- include('../partials/footer') %>

    <script src="../../public/index.js"></script>
  </body>
</html>
