<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
</head>
<body>
    <%- include('../partials/navbar')%>
    <h2><%= title %></h2>
    
<% if(exist){ %>
    <div class="catalog">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            
            <% for (const elem of list) {%>
                <tr>
                    <td> <%= elem.title %> </td>
                    <td> <%= elem.price %> </td>
                    <td> <img src='<%= elem.thumbnail %>' alt="productImage"></td>
                </tr>
                <%};%>
        </table>
       <br>
       <a class="addButton" href="http://localhost:8080/">Agregar más productos al Stock</a>
    </div>
<% } else {%>
       <h2>No hay productos en stock!</h2>
       <a href="http://localhost:8080/" class="addButton" >Agregar un producto</a>
<% } %>

   <br/>
   <%- include('../partials/footer')%>
</body>
</html>